<div class="body-card">
  <button (click)="testClickable()" class="profile-card"></button>
  <button class="support-card"><span class="relative left-0 w-full">Aide</span></button>
  <button class="logoff-card"><span>Deconnexion</span></button>
  <div class="flex justify-around ml-auto mr-auto mt-[15%] w-[95%] h-[6%]">
    <button class="grid-button">1</button>
    <button class="grid-button">2</button>
    <button class="grid-button">3</button>
    <button class="grid-button">4</button>
  </div>
  <div class="flex justify-around ml-auto mr-auto mt-[15%] w-[95%] h-[6%]">
    <button class="grid-button">1</button>
    <button class="grid-button">2</button>
    <button class="grid-button">3</button>
    <button class="grid-button">4</button>
  </div>
</div>
