<div *ngIf="getScreenSize() <= 1.1">
  <body class="absolute bg-primary w-full h-full dark:bg-dark-primary">
    <mat-toolbar class="bg-secondary-bg h-12 dark:bg-dark-secondary-bg">
      <span class="font-bold text-2xl text-tex1t dark:text-dark-text-1">MIR-RT</span>
      <span class="flex-auto"></span>
      <div class="space-x-2 mr-6 mt-1">
        <select (change)="updateLocale()" class="" [formControl]="langCtrl">
          <option
            *ngFor="let l of traductor.locales"
            [value]="l.value"
            [selected]="l.value === traductor.locale"
          >
            {{ l.label }}
          </option>
        </select>
        <span class="text-base font-normal dark:text-dark-text-1">
          {{ currentDate | date: "EEE MMMM dd":"":traductor.locale }}</span
        >
        <span class="text-base font-bold dark:text-dark-text-1">
          {{ currentDate | date: "H:mm" }}</span
        >
      </div>
      <div class="space-x--2">
        <button mat-icon-button>
          <svg
            class="w-6 h-6 fill-none stroke-text-1 dark:stroke-dark-text-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9"
            ></path>
          </svg>
        </button>
        <button mat-icon-button (click)="toggleTheme()">
          <svg
            class="w-6 h-6 fill-none stroke-text-1 dark:stroke-dark-text-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
        </button>
        <button mat-icon-button (click)="openPieceDialog('1000ms', '1500ms')">
          <svg
            class="w-6 h-6 fill-none stroke-text-1 dark:stroke-dark-text-1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
            ></path>
          </svg>
        </button>
      </div>
    </mat-toolbar>
    <div
      class="absolute text-text-2 font-bold left-[2%] top-[8vh] text-[25px] dark:text-dark-text-2"
    >
      <span>{{ "MIRRT.MODE_NAME" | transloco }}</span> --
      <a routerLink="exp-list">test</a>
    </div>
    <app-grid-info
      [dataSource]="dataSource"
      [displayedColumns]="displayedColumns"
    ></app-grid-info>
  </body>
</div>

<div *ngIf="getScreenSize() > 1.1">
  <body class="fixed bg-primary w-full h-full dark:bg-dark-primary">
    <div class="fixed h-[10%] w-full bg-primary dark:bg-dark-primary">
      <div class="absolute h-[40px] w-full top-[30%] bg-primary dark:bg-dark-primary">
        <span class="absolute mt-[10px] ml-[5%] text-[18px] text-text-2 font-bold"
          >Accueil</span
        >
      </div>
    </div>
    <div class="bg-primary">
      <app-grid-info
        *ngIf="uiSelected === 1"
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
      ></app-grid-info>
      <app-comments-card *ngIf="uiSelected === 2" class=""></app-comments-card>
    </div>
    <mat-toolbar
      class="fixed w-full bottom-0 left-0 right-0 h-[18%] bottom-[0px] bg-primary"
    >
      <button
        (click)="goToPage(1)"
        class="ml-3 w-[3rem] h-[3rem] rounded-md bg-blue-500 hover:bg-red-500 text-white"
      >
        B
      </button>
      <span class="flex-auto"></span>
      <button
        (click)="goToPage(2)"
        class="w-[3rem] h-[3rem] rounded-md bg-blue-500 hover:bg-red-500 text-white"
      >
        B
      </button>
      <span class="flex-auto"></span>
      <button class="w-28 h-28 rounded-full bg-blue-500 hover:bg-red-500 text-white">
        START
      </button>
      <span class="flex-auto"></span>
      <button
        (click)="openPieceDialog('1000ms', '1500ms')"
        class="w-[3rem] h-[3rem] rounded-md bg-blue-500 hover:bg-red-500 text-white"
      >
        B
      </button>
      <span class="flex-auto"></span>
      <button
        class="mr-3 w-[3rem] h-[3rem] rounded-md bg-blue-500 hover:bg-red-500 text-white"
      >
        B
      </button>
    </mat-toolbar>
  </body>
</div>
