<div class="body-card">
  <div class="outer-card">
    <div class="label-title">Commentaires</div>
    <div class="comment-cards">
      <form class="comments-form">
        <mat-form-field class="mat-formfield">
          <textarea
            matInput
            #input1
            cdkTextareaAutosize
            maxlength="320"
            class="text-area"
          ></textarea>
        </mat-form-field>
        <mat-hint class="char-counter">{{ input1.value?.length || 0 }}/320</mat-hint>
      </form>
    </div>
  </div>
  <div class="outer-card">
    <div class="label-title">Causes</div>
    <div class="comment-cards">
      <form class="comments-form">
        <mat-form-field class="mat-formfield">
          <textarea
            matInput
            #input2
            cdkTextareaAutosize
            maxlength="320"
            class="text-area"
          ></textarea>
        </mat-form-field>
        <mat-hint class="char-counter">{{ input2.value?.length || 0 }}/320</mat-hint>
      </form>
    </div>
  </div>
  <div class="outer-card">
    <div class="label-title">Correctifs</div>
    <div class="comment-cards">
      <form class="comments-form">
        <mat-form-field class="mat-formfield">
          <textarea
            matInput
            #input3
            cdkTextareaAutosize
            maxlength="320"
            class="text-area"
          ></textarea>
        </mat-form-field>
        <mat-hint class="char-counter">{{ input3.value?.length || 0 }}/320</mat-hint>
      </form>
    </div>
  </div>
</div>
