<div class="container">
  <div class="screen">
    <div class="screen__content">
      <ul>
        <li class="t1">DataDis</li>
        <li class="t2">MirWeb</li>
      </ul>
      <form class="login">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" placeholder="User name / Email">
        </div>
        <div class="login__field">
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" placeholder="Password">
        </div>
      </form>
      <div>
        <button class="button login__submit" (click)="onLogin()">
          <span class="button__text">Log In Now</span>
        </button>
      </div>
      <div class="forgot_password">
        <li><a routerLink="/mode-rt">Forgot my password</a></li>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
