<span class="ml-[7%] font-bold text-[20px]">Recherche de pièces</span>
<mat-dialog-content>
  <div class="mt-[15px] ml-[20px] space-x-8">
    <app-text-input [width]="375"></app-text-input>
    <button class="font-bold text-red-600">Annuler</button>
  </div>
  <div class="flex">
    <span class="flex-auto ml-[40%] mt-[4rem] font-bold text-[18px] text-red-600"
      >{{ nbrResultat }} Résultats</span
    >
  </div>
  <div
    class="ml-auto mr-auto mt-[2rem] mb-auto bg-secondary h-[425px] w-[90%] scrollbar-thin scrollbar-thumb-rounded-full scrollbar-track-transparent scrollbar-thumb-scroll dark:scrollbar-thumb-dark-scroll"
  >
    <app-exp-list></app-exp-list>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button>Cancel</button>
  <button mat-button [mat-dialog-close]="true">Install</button>
</mat-dialog-actions>
